# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.
# Documentation: https://EditorConfig.org

# This setting should be at the top of the file to signify that this is the root EditorConfig file for the project.
root = true

# Default settings for all files:
# These settings apply to all files in the project unless overridden by more specific settings for a file type below.
[*]
charset = utf-8                       # Encoding for the files is set to UTF-8.
indent_style = space                  # Use spaces for indentation.
indent_size = 4                       # Number of spaces used for indentation is 4.
end_of_line = crlf                    # End of line character is set to CRLF (Carriage Return Line Feed).
trim_trailing_whitespace = true       # Automatically remove whitespace at the end of a line.
insert_final_newline = true           # Ensure files end with a newline.
max_line_length = 80                  # Recommended maximum line length is 80 characters.

# JavaScript files:
# Specific settings for JavaScript (*.js) files, overriding the defaults where specified.
[*.js]
quote_type = single                   # Use single quotes for strings.

# JSON files:
# Settings for JSON (*.json) files, with a specific indentation style.
[*.json]
indent_size = 2                       # Number of spaces used for indentation is 2, catering to common JSON formatting conventions.

# Markdown files:
# Markdown (*.md) files have a specific setting to not trim trailing whitespace.
# This is because in Markdown, trailing whitespace can indicate a line break.
[*.md]
trim_trailing_whitespace = false      # Disable trailing whitespace trimming for Markdown files to preserve intended formatting.
